@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Colors */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --outline-cyan: hsl(172, 67%, 46%);
  --custom-grayish: hsl(180, 18%, 40%);
  --grayish-cyan: hsl(183, 15%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --hover-grayish-cyan: hsl(172, 61%, 77%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* CSS resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove spinner arrows in number inputs on Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button,
input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%; /* Ensure media elements are responsive */
}

body {
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
  font-family: "Space Mono", serif;
}

header img {
  margin: 50px auto 41px;
}

.container {
  background-color: var(--white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  padding: 32px 24px;
}

label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark-grayish-cyan);
}

.bill-input,
.people-input {
  position: relative;
  margin: 6px 0px 32px;
}

.bill-input input,
.people-input input,
.tip-grid input {
  width: 100%;
  text-align: right;
  padding: 6px 17px 6px 19px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
  outline-color: var(--outline-cyan);
  cursor: pointer;
}

.bill-input input::placeholder,
.people-input input::placeholder {
  color: var(--very-dark-cyan);
}

.tip-grid input {
  color: var(--custom-grayish);
}

.tip-grid input::placeholder {
  color: var(--custom-grayish);
}

.bill-input img {
  width: 9.84px;
  height: 15.46px;
}

.people-input img {
  width: 13px;
  height: 16px;
}

.bill-input img,
.people-input img {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.tip-grid {
  margin: 16px 0 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 17px;
  row-gap: 16px;
}

.tip-grid button {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 6px 17.55px 6px 16.29px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  cursor: pointer;
}

.tip-grid button:where(:hover, :focus, :active) {
  background-color: var(--hover-grayish-cyan);
  color: var(--very-dark-cyan);
}

.tip-section {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 37px 22px 24px 24px;
  border-radius: 15px;
}

.tip-amount,
.total-amount {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount {
  margin-bottom: 20px;
}

.total-amount {
  margin-bottom: 32px;
}

.grey-person {
  font-size: 0.8125rem;
  color: var(--grayish-cyan);
}

.tip,
.total {
  font-size: 2rem;
  letter-spacing: -0.67px;
  color: var(--outline-cyan);
}

.reset-btn {
  width: 100%;
  font-size: 1.26rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--outline-cyan);
  color: var(--very-dark-cyan);
  padding: 9px 32px;
  margin: 0 auto;
}

.reset-btn:where(:hover, :focus) {
  background-color: var(--hover-grayish-cyan);
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin: 10px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 920px) {
  header img {
    margin: 163px auto 88px;
  }

  .container {
    max-width: 920px;
    margin: 0 auto;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    padding: 32px 32px 32px 48px;
  }

  .inputs-section {
    margin-top: 13px;
  }

  .bill-input {
    margin-bottom: 40px;
  }

  .people-input {
    margin-bottom: 0;
  }

  .tip-grid {
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
  }

  .tip-grid button {
    padding: 6px 14px 6px 13px;
  }

  .tip-grid input {
    padding: 6px 15px 6px 14px;
  }

  .tip-section {
    padding: 40px;
  }

  .tip-amount {
    margin-bottom: 25px;
  }

  .total-amount {
    margin-bottom: 122px;
  }

  .tip,
  .total {
    font-size: 3rem;
    letter-spacing: -1px;
  }
}
